@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@&family=Montserrat:wght@600&display=swap');

:root{
    --preto: #000;
    --branco: #f5f5f5;
    --rosa: #F15B5C;
    --azul: #7E85DF;
    --amarelo: #F2A74B;
  }

li:hover{
    transform: scale(1.05);
    background-color: var(--branco);
    color: var(--amarelo);
}



input:hover{
    color: var(--amarelo);
}

body {
    width: 100vw;   
    height: 100vh;
    overflow: hidden;
    color: var(--branco);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--amarelo);
}

.container {
    padding: 20px;
    margin: 5%;
    justify-content: center;
}

li{
    border-radius: 10px;
}


h1{
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2{
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
}
.question {
    margin-bottom: 20px;
}
.options {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.options li {
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--branco);
    margin-bottom: 10px;
    color: var(--branco);
}

.buttons{
    width:100%;
    margin: 0 0px;
    display: flex;
    justify-content: space-between;
}

button{
    font-weight: 600;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    color: var(--branco);
    border: 2px solid var(--branco);
}
.feedback {
    margin-top: 20px;
    text-align: center;
}
#timer, #score {
    float: right;
}
.question-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #333;
}
.question {
    display: none;
}

.active {
    display: block;
}

#question-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#question-list li {
    display: inline-block;
    margin-right: 10px;
}