@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Montserrat:wght@&display=swap');

:root{
    --preto: #000;
    --branco: #f5f5f5;
    --rosa: #F15B5C;
    --azul: #7E85DF;
    --amarelo: #F2A74B;
    --branco-acizentado: #eeeeee;
  }  


button:hover{
    transform: scale(1.1);
    border: 2px solid var(--branco);
    font-weight: 500;
    transition-duration: 0.4s;
    color: var(--branco);
}

#btn-play:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
    cursor: pointer; 
    background-color: var(--rosa);
    color: var(--branco);
}

#playlink:hover{
color: var(--branco);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amarelo);    
}

h2{
    font-family: "Fredoka", sans-serif;
}
a, li, option, select, :-ms-input-placeholder, button{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

header {
    color: var(--branco);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    color: var(--branco);
}

#btn-login{
    width: 80px;
    color: var(--branco);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--branco);
    background-color: transparent;
    cursor: pointer;  
}

#disciplinasExibidas {
    background-color: var(--branco-acizentado);
    width: 80vw;
    text-align: center;
    padding: 30px;
    border-radius: 10px;

}


hr{
    color: var(--branco);
}

select, input[type="text"], input[type="submit"] {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.container{
    display: block;
    justify-content: center;
}

#curso {
    width: 40%;
    appearance: none;
    background-color: var(--branco);
    color: #333;
}

#disciplina-input{
    margin-left: 2%;
    width: 50%;
    background-color: var(--branco);
    color: #333;
}

#btn-enviar{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



#disciplinasExibidas{
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#disciplina{
    display: block;
    justify-content: center;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 20px 30px 20px 20px;
    width: 80%;
    height: 80%;
}

#imagem-disciplina{
    border-radius: 10px;
}

#titulo-disciplina{
    text-align: start;
}

#descricao-disciplina{
    font-size: .8rem;
    text-align: justify;
}

#btn-play{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    display: block;
     border: 1px solid var(--rosa);
     border-radius: 10px;
     background-color: transparent;
     color: var(--rosa);
}

a{
    text-decoration: none;
    color: var(--rosa)
}
    
option, input{
    background-color: #f5f5f5;
}