:root{
    --preto: #000;
    --branco: #f5f5f5;
    --rosa: #F15B5C;
    --azul: #7E85DF;
    --amarelo: #F2A74B;
    --branco-acizentado: #eeeeee;
  }  




body{
width: 100vw;
height: 100vh;
font-family: Arial, sans-serif;
font-size: 16px;
display:flex;
justify-content: center;
line-height: 2rem;
letter-spacing: 0.15rem;
background-color: var(--amarelo);
}

.titulo{
    font-size: 2rem;
}

.container{
padding: 20px 30px;
background-color: var(--branco);
width: 40vw;
height: 90%;
border-radius: 8px;
}


#email{
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    display: block;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

#btn-enviar{
margin-top: 20px;
padding: 15px;
display: block;
 border: none;
 border-radius: 10px;
 background-color: var(--amarelo);
}

#btn-back{
    margin-top: 20px;
padding: 15px;
display: block;
 border: 1px solid var(--amarelo);
 border-radius: 10px;
 background-color: transparent;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
    cursor: pointer; 
}

a{
    text-decoration: none;
}