body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-section button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2baae1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.profile-section button:hover {
    background-color: #2864d3;
}

.stats-section {
    margin: 20px 0;
}

.help-center {
    margin-top: 20px;
    font-size: 14px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container, .register-container {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2baae1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

button:hover {
    background-color:#3737db;
}

.google-login {
    background-color: #3737db;
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

p button {
    background-color: transparent;
    color:#00b3ff;;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
#opcoes {
    display: none;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

#opcoes ul {
    list-style-type: none;
    padding: 0;
}

#opcoes ul li {
    padding: 5px;
    cursor: pointer;
}

#opcoes ul li:hover {
    background-color: #f0f0f0;
}